doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title боксерский клуб NEW TIME
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="")
    meta(name="keywords" content="")
    link(href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700,700i&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/style.min.css")
  body
    include ../sections/header
    main
      include ../sections/head
      include ../sections/video
      include ../sections/lesson
      include ../sections/for-you
      include ../sections/coach
      include ../sections/price
      include ../sections/ask
      include ../sections/go
      include ../sections/contact
      include ../sections/footer
      include ../sections/modal
      script(src="js/jquery-3.4.1.min.js")
      script(src="js/script.js")
