div.ask__bg
  div.container
    section(id="ask").ask
      h2.ask__title Есть сомнения?
      p.ask__text Мы разобьем их
      div.ask__blocks
        div.ask__block
          button(type="button" id="ask1") 
            span(id="rotate1").ask__rotate У меня плотный график, мало времени
          div(id="answ1").ask__ba
            p.ask__answer Зал находится в 10 минутах ходьбы от метро Балтийская.<br> К нам легко добраться из любой точки города
        div.ask__block
          button(type="button" id="ask2")
            span(id="rotate2") Я новичок. Вдруг меня покалечат?
          div(id="answ2").ask__ba.ask__answer-close
            p.ask__answer Зал находится в 10 минутах ходьбы от метро Балтийская.<br> К нам легко добраться из любой точки города
        div.ask__block
          button(type="button" id="ask3")
            span(id="rotate3") Я 10 лет боксирую. Зачем идти к вам? 
          div(id="answ3").ask__ba.ask__answer-close
            p.ask__answer Зал находится в 10 минутах ходьбы от метро Балтийская.<br> К нам легко добраться из любой точки города
        div.ask__block
          button(type="button" id="ask4")
            span(id="rotate4") Я девушка. Хочу спортивную фигуру, не хочу травм
          div(id="answ4").ask__ba.ask__answer-close
            p.ask__answer Зал находится в 10 минутах ходьбы от метро Балтийская.<br> К нам легко добраться из любой точки города
        div.ask__block
          button(type="button" id="ask5")
            span(id="rotate5") У меня избыточный вес, мне будет тяжело
          div(id="answ5").ask__ba.ask__answer-close
            p.ask__answer Зал находится в 10 минутах ходьбы от метро Балтийская.<br> К нам легко добраться из любой точки города
        div.ask__block
          button(type="button" id="ask6")
            span(id="rotate6") Я не хочу покупать перчатки, вдруг мне не понравится
          div(id="answ6").ask__ba.ask__answer-close
            p.ask__answer Зал находится в 10 минутах ходьбы от метро Балтийская.<br> К нам легко добраться из любой точки города
        div.ask__block
          button(type="button" id="ask7").ask__size
            span(id="rotate7") А вдруг… 
          div(id="answ7").ask__ba.ask__answer-close
            p.ask__answer Зал находится в 10 минутах ходьбы от метро Балтийская. К нам легко добраться из любой точки города
    img(src="img/image.jpg").ask__image
      
