div.container
  div.coach__position
    section(id="coach").coach
      h2.coach__title Тренерский состав школы
      div.coach__blocks
        div.coach__block.coach__block-reverse
          div.coach__info.coach__info-left
            a(href="").coach__link Дмитрий Пчелов
            p Старший тренер
            p <strong>Обладатель Чёрных Поясов</strong> 1-дана по Каратэ до Сёто Кан, тхэквондо WTF и Тонг Ил. p
            p Бокс изучал с детства. Получил профильное образование в Академии Ф.К. Им. П.Ф. Лесгафта.<br> Преподаёт бокс с 1999 года.
            div.coach__item.coach__none-m
              span.coach__bq «Бокс – это спорт, который учит думать. Быстро»
              cite Дмитрий Пчелов
          img(src="img/trener1.jpg").coach__img 
        div.coach__block-big
          p <strong>Предпочтение отдаёт Мексиканской Школе Бокса</strong> – остроатакующей и бескомпромиссной. В подготовку боксёров включает тщательно проработанную <strong>Советскую и Кубинскую систему</strong> многоплановых передвижений по рингу.
          p Разнообразнейшие методики тренировок на снарядах (мешках, грушах и т.д.) почерпнул из анналов Советского Бокса – одного из самых эффективных в мире. Принял на вооружение американские особенности понятий «Постановка Удара» и «Работа на Лапах».
          p Тренировался со звёздами профессионального бокса.
          p <strong>Тренировал Максима Логинова</strong> – чемпиона России по командным боям ТТС (temporary team combat), чемпиона ММА «Кубок СПб», трёхкратного чемпиона «Олимпиада боевых искусств», двукратного чемпиона России «Армейский рукопашный бой», серебряного призёра «Универсиада. Бокс». 
          p <strong>Тренировал Евгению Заболоцкую</strong> – вице-чемпионку мира WIBF, GBU; вице-чемпионку Европы WIBF, GBU.
          div.coach__item.coach__none-d
            span.coach__bq «Бокс – это спорт, который учит<br> думать. Быстро»
            cite Дмитрий Пчелов
      div.coach__blocks
        div.coach__block
          div.coach__info.coach__info-right
            a(href="").coach__link Иван Ногин
            p Помощник тренера
            p Занимается единоборствами и смежными дисциплинами больше 10 лет. Более полугода изучал особенности подготовки бойцов и тренировался сам в Муай-Тай, Королевство Тайланд. 
            div.coach__item.coach__none-m
              span.coach__bq «Бокс облагораживает»
              cite Иван Ногин
          img(src="img/trener2.jpg").coach__img 
        div.coach__block-big
          p Под руководством старшего тренера <strong>разрабатывает собственные программы тренировок</strong> по фитбоксу – аэробному боксу, построенному вокруг быстрых, активных ударов и прыжков. Это направление развивает выносливость и ловкость, помогает скорректировать фигуру. Подходит тем, кто хочет выглядеть спортивно, подтянуто, , и при этом избежать болезненных инцидентов, которые возможны во время спаррингов.  
          p Дипломированный повар-технолог, Иван более 10-ти лет работал в ресторанах, в том числе и в диетической кухне. <strong>Проводит консультации по правильному питанию, технологиям приготовления пищи, диетам</strong>. 
          div.coach__item.coach__none-d
            span.coach__bq «Бокс облагораживает»
            cite Иван Ногин
