div.container
  section(id="for-you").for-you
    h2.lesson__title Кому подходят занятия боксом?
    p.lesson__text Бокс – не только мужской спорт. Он для тех, у кого есть воля, а не кадык
    ul.for-you__lists
      li.for-you__list
        img(src="img/img1.jpg" alt="бокс для мужчин")
        div.for-you__info
          h3.for-you__title Мужчинам
          p.for-you__text Мечтаешь прогнуть этот мир под себя? Бокс научит, как противостоять ударам судьбы
          a(href="").for-you__link 
            span Выстоишь на ринге – прорвёшься в жизни
      li.for-you__list
        img(src="img/img3.jpg" alt="бокс для мужчин")
        div.for-you__info
          h3.for-you__title Женщинам
          p.for-you__text Построй идеальную фигуру, получи навыки самообороны и уверенность по жизни
          a(href="").for-you__link
            span Тайное оружие железных леди
      li.for-you__list
        img(src="img/img2.jpg" alt="бокс для мужчин")
        div.for-you__info
          h3.for-you__title Детям
          p.for-you__text Хотите воспитать ребёнка стойким и решительным, привить волю к победе?
          a(href="").for-you__link
            span Решение для тех, кто растит успешных детей
