header.header__bg
  div.container
    div.header__position
      section.header
        div.header__block
          a(href="index.html").header__logo
            img(src="img/logo-m.svg" alt="логотип боксерского клуба NEW TIME")
          button(type="button" aria-label="кнопка открытия и закрытия меню").header__open
        nav.nav
          ul.nav__lists
            li.nav__list
              a(href="#us").nav__link О клубе
            li.nav__list
              a(href="#coach").nav__link Тренерский состав
            li.nav__list
              a(href="#price").nav__link Расписание и стоимость
            li.nav__list
              a(href="#ask").nav__link Есть сомнения?
            li.nav__list
              a(href="tel:+79154167118").nav__link <strong>+7 (915) 416-71-18</strong>
            li.nav__list
            button(type="button").button.nav__button Заказать звонок 
              
