div.container
  div.lesson__position
    section.lesson
      h2.lesson__title Уроки бокса<br> в New Time
      p.lesson__text Древнейшее искусство в современном прочтении
      div.lesson__block
        ul.lesson__lists
          li.lesson__list
            img(src="img/calendar.svg" alt="календарь").lesson__img
            div.lesson__info 
              h3.lesson__info-title 10 лет
              p.lesson__info-text Проходят тренировки в стенах нашего зала
          li.lesson__list
            img(src="img/boss.svg" alt="Профессиональные лекции").lesson__img
            div.lesson__info 
              h3.lesson__info-title Профессиональные лекции
              p.lesson__info-text Узнайте о механике работы тела и истории боевых искусств
          li.lesson__list
            img(src="img/lunch-box.svg" alt="ланч бокс").lesson__img
            div.lesson__info 
              h3.lesson__info-title Здоровые люди
              p.lesson__info-text Питайтесь правильно под руководством повара-технолога
          li.lesson__list
            img(src="img/gym.svg" alt="тренировка").lesson__img
            div.lesson__info 
              h3.lesson__info-title 1000 килокалорий 
              p.lesson__info-text В среднем вы сожжёте за одну тренировку
        img(src="img/medal.jpg" alt="медали").lesson__image
