div.container  
  section.modal.modal__hide
    form(action="" method="post").modal__form
      button(type="button" aria-label="закрытие модального окна").modal__close
      h2.modal__title Оставьте заявку
      p.modal__text Мы свяжемся с вами в теченье 10 минут
      label(for="name").visually-hidden Ваше имя
      input(type="text" placeholder="Ваше имя" id="name").modal__input
      label(for="tel").visually-hidden Телефон
      input(type="tel" placeholder="Телефон" id="tel").modal__input
      label(for="mail").visually-hidden E-mail
      input(type="email" placeholder="E-mail" id="mail").modal__input
      input(type="checkbox" id="for").modal__checkbox
      label(for="for").modal__label Согласие с <a>политикой конфиденциальности</a>
      button(type="submit").modal__submit Оставить заявку
