div.container
  section(id="price").price
    h2.price__title Расписание<br> и стоимость занятий
    div.price__blocks
      div.price__block
        p.price__name.price__name-icon1 Бокс
        p.price__text Безлимитные групповые тренировки – <strong>3 500 руб/месяц</strong> Индивидуальная тренировка – <strong><br>1 100 руб/занятие</strong> (60-120 мин)
        ul.price__lists
          li.price__list
            p.price__item <b>Понедельник – четверг</b> <br>с 19:00 до 20:30 (от 14 и старше)
          li.price__list
            p.price__item <b>Суббота – воскресенье</b> <br>с 10:00 до 12:00 (от 14 и старше) <br>с 19:00 до 21:00 (от 14 и старше)
        a(href="").button.price__link Записаться
      div.price__block
        p.price__name.price__name-icon2 Фитбокc
        p.price__text Безлимитные групповые тренировки – <strong>3 000 руб/месяц</strong> Индивидуальная тренировка – <strong>500 руб/занятие</strong> (90 мин)
        ul.price__lists
          li.price__list
            p.price__item <b>Понедельник – среда – пятница</b> <br>с 17:00 до 18:30 (детская группа) <br>с 20:30 до 22:00 (от 14 и старше)
          li.price__list
            p.price__item <b>Суббота – воскресенье</b> <br>с 12:00 до 14:00 (от 14 и старше)
        a(href="").button.price__link Записаться

      
